//placeholders
%transition {
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(linear);
}
%full-height {
  height: 100%;
}
%mask-common {
  visibility: hidden;
  opacity: 0;
  @extend .small-12;
  @extend %full-height;
}

//Cores
.secondary {
  color: $secondary-color;
}
.primary {
  color: $primary-color;
}
.white {
  color: #fff;
}

//Caixa
.text-up {
  text-transform: uppercase;
}

//Peso
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.font-black {
  font-weight: 700;
}

//Altura de linhas
.lh-1 {
  line-height: 1;
}

//tamanho da fonte
.font-normal {
  font-size: rem-calc(14);
}
.font-small {
  font-size: rem-calc(12);
}
.font-large {
  font-size: rem-calc(18);
}
.font-xlarge {
  font-size: rem-calc(20);
}

//Backgrounds
.bg-menu {
  background-color: $bg-menu;
}
.bg-menu-light {
  background-color: $bg-menu-light;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-dark {
  background-color: #484848;
}

//Margens
.no-margin {
  margin: 0 !important;
}
%divides {
  @extend .small-12;
  @extend .left;
}
.divide-5 {
  @extend %divides;
  margin-bottom: rem-calc(5);
}
.divide-10 {
  @extend %divides;
  margin-bottom: rem-calc(10);
}
.divide-20 {
  @extend %divides;
  margin-bottom: rem-calc(20);
}
.divide-40 {
  @extend %divides;
  margin-bottom: rem-calc(40);
}
.no-pl {
  padding-left: 0 !important;
}

//containers
.section-block {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}
.full-height {
  @extend %full-height;
}

//Comportameyos
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-block {
  display: block;
}
.d-iblock {
  display: inline-block;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.hidden {
  display: none !important;
}

//Mascaras
#mask-white {
  @extend %mask-common;
  @extend %transition;
  position: fixed;
  left: 0;
  top: rem-calc(91);
  background-color: rgba(#fff, .9);
  z-index: 9999999;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

//Cabeçalhos
.post-tag {
  @extend .text-up;
  font-weight: 700;
  @extend .primary;
  @extend .font-normal;

  &.thin {
    @extend .font-light;
  }
}

@media #{$medium-down} {
  #mask-white {
    display: none;
  }
  .post-tag {
    font-size: rem-calc(12);
  }
}

//Miscelanea

//linha
.h-line {
  @extend .small-12;
  @extend .left;
  border-bottom: 1px solid #eaeaea;
}

//publicidades
#ads {
  img, iframe, object, embed, html {
    max-width: 100%;
  }
}
.big-ads {
  > div {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    background-color: #ebebeb;
    border: 1px solid #d6dde1;
  }
}

//Seçoes
*[data-section] {
  min-height: rem-calc(300);
  opacity: 0;
  visibility: hidden;
  @extend %transition;

  &.show-section {
    opacity: 1;
    visibility: visible;
    min-height: 0;
  }
}

//loaders
.load-content {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  //@extend %transition;
  opacity: 0;
  visibility: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.6+1,1+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(1%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 1%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  &.show {
    visibility: visible;
    opacity: 1;
  }

  > .d-table {
    @extend .small-12;
    @extend .text-center;
    height: rem-calc(60);
  }
}