#nav-below {
	display: none;
}
.post {
	margin-bottom: rem-calc(20);
	
	&:not(:first-child) {
		padding-top: rem-calc(20);
		border-top: 1px solid #eaeaee;
	}

	a[data-thumb] {
		//width: rem-calc(300);
		height: rem-calc(190);

		&:hover {
			opacity: .8;
		}
	}
}
.the-results {
	@extend %full-height;
	overflow: hidden;
	figure {
		&:not(:first-child) {
			figcaption {
				border-top: 1px solid #ccc;
				padding-top: rem-calc(10);
				margin-top: rem-calc(10);
			}
		}
	}
}
.mask-white {
	@extend %full-height;
}
.colunista-info {
	padding: rem-calc(20);
	background-color: #f1f1f1;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: rem-calc(20);

	figcaption {
		padding-left: rem-calc(20);
	}
}

//videos
.post-video {
	height: rem-calc(395);

	figcaption {
		bottom: 0;
		left: 0;
		padding: rem-calc(20);
		background-color: rgba(#000,.8);
	}
}

@media #{$medium-up} {
	.post {
		figcaption {
			padding-left: rem-calc(20);
			&.no-th {
				padding-left: 0;
			}
		}
	}
}