#home-top {
 small {
   @include translateY(rem-calc(-2));
 }
  &.search-mode {
    margin-top: rem-calc(91);
  }
}
.big-feature {
  height: rem-calc(395);
}
.blue-dot {
  width: rem-calc(6);
  height: rem-calc(6);
  border-radius:100%;
  background-color: $primary-color;
  display: inline-block;
  float: left;
  margin: rem-calc(6 3 0 0);
}
.recent-feat-th {
  height: rem-calc(187.5);
  margin-bottom: rem-calc(20);

  > div {
    @extend %full-height;
    overflow: hidden;
  }
  a {
    &:hover {
      color: $primary-color;
    }
  }
  figcaption {
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: rem-calc(10);
  }
  p {
    span.left {
      margin-top: rem-calc(6);
    }
    span.right {
      a {
        margin: rem-calc(0 5);
      }
    }
  }
  &:not(.not-img) {
    a {
      @extend .white;
    }
    p {
      span.left {
        @extend .white;
      }
    }
  }
  &.not-img {
    figcaption {
      top: 0;
      padding: 0;

      h4 {
        @extend .small-12;
        height: rem-calc(59);
      }
    }
  }
}
.top-article-th {
  @extend %full-height;
  overflow: hidden;

  .img {
    @extend %full-height;
    @extend %transition;
    top: 0;
    left: 0;
    z-index: 0;
  }

  figcaption {
    padding: rem-calc(20 10);
    bottom: 0;
    left: 0;
    z-index: 999;
  }

  &:hover {
    .img {
      @include scale(1.05);
    }
  }
}
.post-excerpt {
  @extend .small-12;
  @extend .left;
  height: rem-calc(70);
}
.mask-gradent {
  @extend %full-height;
  left: 0;
  top: 0;
  z-index: 99;

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.mask-gradent2 {
  @extend %full-height;
  left: 0;
  top: 0;
  z-index: 99;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.55+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8c000000',GradientType=0 ); /* IE6-9 */


}
.share-title {
  font-size: rem-calc(12);
}
.social-list {
  a {
    margin: rem-calc(0 6);
  }
}