#post-content {
  &.search-mode {
    margin-top: rem-calc(91);
  }
  > header {
    time {
      font-size: rem-calc(12);
      line-height: 29px;
    }
  }
}
#share-post {
  li {
    @extend .d-block;
    background-color: #eaeaea;
    font-size: rem-calc(12);
    margin-left: rem-calc(1);
    padding: rem-calc(5 10);

    &:first-child {
      width: rem-calc(150);
    }
    &:not(:first-child) {
      height: rem-calc(29);
      a {
        line-height: rem-calc(20);
      }
    }
  }
}
.share-this {
  > div {
    padding: rem-calc(3 10);
    background-color: #eaeaea;
    border-bottom: 1px solid #CCCCCC;
  }
  a {
    @extend .d-iblock;
    margin-left: rem-calc(5);
    font-size: rem-calc(14);
    line-height: rem-calc(30);
  }
  span:first-child {
    line-height: rem-calc(30);
  }
}
#carousel-related {
  @extend .show-for-medium-down;
}
#related-news {
  > ul {
    @extend .show-for-large-up;
  }
}
//wordpress
.alignleft {
  @extend .left;
  margin-right: rem-calc(10);
  margin-bottom: rem-calc(10);
}
.alignright {
  @extend .right;
  margin-left: rem-calc(10);
  margin-bottom: rem-calc(10);
}
.aligncenter {
  @extend .small-12;
  @extend .left;
  margin-bottom: rem-calc(10);
}
.the-post {
  p {
    color: #000 !important;
  }
}

//galeria
#post-gallery {
  height: rem-calc(550);
  background-color: #333;
}
.nav-gallery {
  height: rem-calc(550);
  width: rem-calc(40);
  background-color: #333;
  z-index: 999;

  span[class^="icon"] {
    font-size: rem-calc(34);
  }
}

.next-pic {
  top: 0;
  left: 0;
}

.prev-pic {
  top: 0;
  right: 0;
  left: inherit;
}

.gal-thumb {
  width: rem-calc(50);
  height: rem-calc(50);
}

#adv-custom-pager {
  text-align: center;
  a {
    @extend .d-iblock;
    padding: rem-calc(10);
    opacity: .7;

    &.cycle-pager-active, &:hover {
      opacity: 1;
    }
  }
}

@media #{$small-only} {
  #share-post {
    float: left !important;
    width: 100%;
    padding: rem-calc(0 10);
    margin-left: rem-calc(10);
    margin-top: rem-calc(16);

    li:first-child {
      margin-left: 0;
    }
  }
  #post-gallery, .nav-gallery  {
    height: rem-calc(350);
  }
  #adv-custom-pager {
    display: none;
  }
}
@media #{$large-up} {
  .the-post {
    min-height: rem-calc(800);
  }
}